.container
  max-width: 1164px
  margin: auto

.wrapper
  background: url('../img/main.png') no-repeat

.row
  display: flex
  justify-content: space-between
  flex-wrap: wrap
.col
  &-30
    flex-basis: 28%

  