// @media screen and (max-width: 1640px)
//   .hero
//     &__image
//       max-width: 47rem
//       max-height: 46rem
// @media screen and (max-width: 1540px)
//   .hero
//     &__social
//       &::before
//         height: 520px
// @media screen and (max-width: 1410px)
//   .hero
//     &__image
//       max-width: 43rem
//       max-height: 42rem
@media screen and (max-width: 1350px)
  .hero  
    &__social
      margin-left: 2rem
@media screen and (max-width: 1266px)
  html
    font-size: 12px
  .menu
    &__logo
      margin-right: 10rem
  .hero
    &__content
      padding-bottom: 35rem
    &__title
      max-width: 44rem
  .statistics
    &__information
      width: 77rem
@media screen and (max-width: 1100px)
  .header
    &__container
      max-width: 80rem
  .menu
    &__logo
      margin-right: 8rem
  .hero
    &__content
      max-width: 80rem
      padding-bottom: 40rem
    &__image
      max-width: 40rem
      max-height: 39rem
    &__title
      margin-top: 5rem
      max-width: 40rem
      font-size: 4rem
@media screen and (max-width: 1040px)
  .header
    &__container
      max-width: 75rem
  .menu
    &__logo
      margin-right: 5rem
  .logo
    &__link
      font-size: 1.4rem
  .hero
    &__content
      max-width: 75rem
    &__image
      max-width: 40rem
      max-height: 39rem
      margin-left: 35rem
    &__title
      max-width: 35rem
      font-size: 3.5rem
    &__text
      max-width: 35rem
      font-size: 1.4rem
@media screen and (max-width: 980px)
  .contacts
    &__phone
      margin-right: 1rem
  .hero
    &__social
      display: none
  .statistics
    &__information
      width: 65rem
    &__numder
      font-size: 3.5rem
    &__text
      font-size: 1.3rem
@media screen and (max-width: 915px)
  .header
    &__container
      max-width: 67rem
  .hero
    &__content
      margin-bottom: 5rem
      max-width: 67rem
    &__image
      max-width: 30rem
      max-height: 29rem
  .logo
    &__link
      font-size: 1rem
    &__icon
      width: 31px
      height: 31px
  .nav
    &__item
      margin-right: 1rem
      font-size: 1rem
  .phone
    font-size: 1rem
@media screen and (max-width: 860px)
  .hero
    &__content
      margin-bottom: 0
  .statistics
    &__information
      display: none
@media screen and (max-width: 840px)
  .header
    &__container
      max-width: 40rem
  .nav
    &__item
      display: none
  .hero
    &__title
      font-size: 3.5rem
      line-height: 3.5rem
    &__text
      max-width: 30rem
      font-size: 1.3rem
@media screen and (max-width: 800px)
  .wrapper
    background: #e3fbdd
  .hero
    position: static
    min-height: 55rem
    &__description
      position: static
    &__image
      display: none
    &__content
      max-width: 40rem
      padding-bottom: 6rem
@media screen and (max-width: 576px)
  .menu
    display: none
    flex-direction: column
    position: absolute
    right: 0
    top: 0
    padding: 1rem
    width: 100%
    background-color: $light
    &__logo
      display: flex
      flex-direction: column
      margin-right: 0
      margin-bottom: 1rem
    &__nav
      display: flex
      flex-direction: column
      margin: auto
      align-items: center
      margin-bottom: 0
    &__contacts
      display: flex
      flex-direction: column
    &__button 
      position: absolute
      right: 40px
      top: 40px
      width: 30px
      height: 3px
      background-color: $dark
      cursor: pointer
      &:before 
        content: ''
        display: block
        position: absolute
        width: 30px
        height: 3px
        background-color: $dark
        margin-top: -7px
        transition: transform 0.2s
      &:after 
        content: ''
        display: block
        position: absolute
        width: 30px
        height: 3px
        background-color: $dark
        margin-top: 7px
        transition: transform 0.2s
  .menu-active 
    display: flex
  .nav
    &__item
      display: block
      margin-right: 0
      margin-bottom: 1rem
  .logo
    &__icon
      margin-right: 0
  .contacts
    &__phone
      margin-right: 0
      text-align: center
  .menu__button-active 
    height: 0
  .menu__button-active:before 
    transform: rotate(45deg)
    margin-top: 0
  .menu__button-active:after 
    transform: rotate(-45deg)
    margin-top: 0
  .statistics
    &__video
      height: 40rem
  .video
    &__icon
      margin: auto
@media screen and (max-width: 500px)
  .hero
    &__title
      margin-top: 2rem
      max-width: 23rem
      font-size: 2.5rem
      line-height: 3.5rem
    &__text
      max-width: 30rem
      font-size: 1.2rem
@media screen and (max-width: 380px)  
  .hero
    &__title
      max-width: 20rem
      font-size: 2.2rem
      line-height: 3rem
    &__text
      max-width: 22rem
      font-size: 1.1rem
  .statistics
    &__video
      height: 20rem

    
