.header
  &__container
    max-width: 83.571rem
    margin: auto
    padding-top: 2.286rem
.menu
  display: flex
  align-items: center
  &__logo
    display: flex
    align-items: center
    margin-right: 13.9rem
  &__nav
    margin-right: 1.5rem
.logo
  &__link
    font-family: 'Ubuntu', sans-serif
    font-size: 1.857rem
    color: $dark
    text-transform: uppercase
    text-decoration: none
    font-weight: 700
    letter-spacing: 0.05rem
  &__icon
    width: 41px
    height: 41px
    margin-right: 0.929rem
.nav
  &__item
    display: inline-block
    margin-right: 1.571rem
    font-family: 'Ubuntu', sans-serif
    font-size: 1.143rem
    color: $dark
    text-transform: uppercase
    text-decoration: none
    font-weight: 300
    &::after
      display: block
      margin: auto
      content: ''
      width: 0%
      height: 2px
      background-color: $coral
      transition: width 0.5s ease-in-out
    &:hover::after
      width: 65%
.phone
  font-family: 'Ubuntu', sans-serif
  color: $dark
  font-size: 1.286rem
  line-height: 2.666rem
  text-decoration: none
.contacts
  &__phone
    margin-right: 3.071rem
  