.hero
  display: flex
  position: relative
  min-height: 72.929rem
  &__content
    display: flex
    margin: auto
    padding-top: 8.357rem
    padding-bottom: 17.857rem
    max-width: 83.571rem
  &__social
    display: flex
    flex-direction: column
    margin-top: 5.2rem
    margin-left: 4.6rem
    &::before
      content: ''
      margin-bottom: 38px
      width: 3px
      height: 620px
      border-radius: 2px
      background-color: $coral
  &__link
    margin-bottom: 27px
    width: 21px
    height: 21px
  &__description
    position: absolute
  &__title
    margin-top: 14.143rem
    margin-bottom: 2.743rem
    max-width: 46.642rem
    color: $dark
    font-family: 'Ubuntu', sans-serif
    font-size: 4.429rem
    letter-spacing: -3.2px
    font-weight: 700
    line-height: 5.429rem
  &__text
    margin-bottom: 2.857rem
    max-width: 40.357rem
    color: $grey
    font-family: 'Ubuntu', sans-serif
    font-weight: 300
    font-size: 1.429rem
    line-height: 2.071rem
  &__image
    margin-left: 42.5rem
    max-width: 54.5rem
    max-height: 54rem
.social
  display: flex
  align-items: center
.title
  &--coral
    color: $coral